[submodule "test/mocha"]
	path = test/mocha
	url = git://github.com/visionmedia/mocha.git
[submodule "test/chai"]
	path = test/chai
	url = git://github.com/chaijs/chai.git
[submodule "test/sinon-chai"]
	path = test/sinon-chai
	url = git://github.com/domenic/sinon-chai.git
[submodule "test/sinon"]
	path = test/sinon
	url = git://github.com/cjohansen/Sinon.JS.git
